@media (min-width: 1400px) { .container { max-width: 900px; } }
@media (min-width: 1200px) { .container { max-width: 900px; } }
@media (min-width: 992px) { .container { max-width: 900px; } }

.navbar-logo {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.top-label { margin-top: 20px; }

h1 { margin: 20px 0; }
details { margin-bottom: 20px; }

.rar { text-align: right; }
.act a { text-decoration: none; }
.act-row { margin-bottom: 10px; }
.act-row:hover { background-color: #fffaf0; }
.act-label { padding-left: 33px; }

.delim {
    margin: 0 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.act2022 a { color: #000080; }
.act2022 a:hover { color: #ffa500; }
.act2022 { color: #000080; }

.act2021 a { color: #2f4f4f; }
.act2021 a:hover { color: #ffa500; }
.act2021 { color: #2f4f4f; }

.act2020 a { color: #483d8b; }
.act2020 a:hover { color: #ffa500; }
.act2020 { color: #483d8b; }

.act2019 a { color: #708090; }
.act2019 a:hover { color: #ffa500; }
.act2019 { color: #708090; }

.act2018 a { color: #696969; }
.act2018 a:hover { color: #ffa500; }
.act2018 { color: #696969; }

.bi-icon { margin: 0 10px; }

.list-p { margin-bottom: 0.5rem; }

.contact-label {
    display: inline-block;
    width: 110px;
}

.footer {
    padding-top: 30px;
    text-align: center;
    color: #696969;
}
